main{
  min-height: 100vh;
  /* using flex because of better browser support */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 90vw;
  margin: 5rem auto;
  background: var(--clr-white);
  border-radius: 50px;
  padding: 2.5rem 2rem;
  max-width: var(--fixed-width);
  display: grid;
  gap: 1rem 2rem;
  border: 2px solid rgb(122, 226, 226);
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
}
